* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: hsl(0, 0%, 6%); /**/
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

.instagram-wrapper {
	display: flex;
	align-items: center;
	justify-content: start;
	width: 60%;
	height: 100vh;
}

.instagram-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
}
.instagram-mobile img {
	height: 42rem;
}

.instagram-login {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 50%;
	min-height: 34rem;
}

.login-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	background-color: hsl(0, 0%, 12%); /**/
	width: 100%;
	padding: 1.3rem 0;
	border: 1px solid hsl(0, 0%, 30%); /**/
	border-radius: 4px; /**/
}
.login-block:nth-child(1) {
	min-height: 19rem;
}

.ig-logo {
	height: 3rem;
	filter: invert(100%); /**/
}

.profile-pic {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	overflow: hidden;
}
.profile-pic img {
	height: 6rem;
}

.ig-login {
	background-color: #0095f6;
	color: white;
	padding: 8px;
	border-radius: 4px;
}

.ig-logout {
	color: #0095f6;
	margin-top: 1rem;
}

.not-acc {
	color: hsl(0, 0%, 84%); /**/
}

.link-blue {
	color: #0095f6;
}

.app-getter {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1.3rem 0;
	color: hsl(0, 0%, 84%); /**/
}

.app-stores {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
}

.download {
	height: 3rem;
	width: 10rem;
	background-size: cover;
	margin: 2px;
}
.download img { /**/
	width: 100%;
}

@media (max-width: 1024px) {
	.instagram-wrapper {
		width: 90%;
	}
}

@media (max-width: 720px) {
	body {
		background-color: hsl(0, 0%, 6%); /**/
	}

	.instagram-wrapper {
		width: 90%;
	}

	.instagram-mobile {
		display: none;
	}

	.instagram-login {
		width: 100%;
	}

	.login-block {
		border: 1px solid transparent;
	}
}